@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.bg-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/img/hero-image.jpg");
}

.swiper {
  width: 100%;
  height: 100%;
  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-drag-bg-color: rgba(255, 255, 255, 0.5);
}
